<div class="page-header">
  {% if post.title %}
    <h1><a href="{{ root_url }}{{ post.url }}">{{ post.title }}</a></h1>
  {% endif %}
</div>
<div class="row">
<div class="span10">
{{ content }}
</div>
<div class="span4">
    <h4>Published</h4>
    <div class="date"><span>{{ post.date | date_to_long_string }}</span></div>
  {% unless post.tags == empty %}
    <h4>Tags</h4>
    <ul class="tag_box">
    {% assign tags_list = post.tags %}
    {% include JB/tags_list %}
    </ul>
  {% endunless %}  
  </div>
</div>
<br>
<br>